body {
  background-color: slategrey;
}

.content-left {
  border: 2px solid black;
  flex: 5 2 auto;
  margin-right: 1rem;
}

.content-right {
  border: 2px solid red;
  flex: 2 5 auto;
  margin-left: 1rem;
}

.main {
  display: flex;
  border: 2px solid blue;
}

.image--logo {
  width: 10rem;
}

.header {
  display: flex;
}

.text {
  align-self: center;
}

.main-container {
  display: flex;
}

.card { 

}

.article-card {

}